/* Selector Universal */
*{

    padding: 0 auto;
    margin: 0 auto;
}


/* Selector ID*/
#contenedor {
    width: 1200px;
    height: 1350px;
    background-color: #07154F;
    max-width: 0 auto;
}


#encabezado {
    height: 15%;
    background-color: #ADECE3;
    margin: 1em;
}

#menu {
    font-size: 150%;
    height: 5%;
    background-color: #ADECE3;
    margin: 1em auto;
}

#contenido {
    height: 70%;
    width: 61%;
    background-color: #1BA08B;
    margin: 0.5em;
    float: left;
}

#fueraSeccion {
    height: 70%;
    width: 36%;
    background-color: #1BA08B;
    margin: 0.5em;
    float: right;
}

#pie {
    
    text-align: center;
    height: 3.5%;
    width: 48%;
    background-color: rgb(10, 128, 108);
    border-radius: 1em;
    margin: 1.5em;
    margin-left: 26%;
    float: left;
}

.textoDelEncabezado {
    text-align: center;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}


.texto {
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
}

.encabezado_articulo {
    font-size: 0.8cm;
    height: 1.1cm;
    text-align: center;
    background: #333;
    color: white;
    margin: auto 2em;
}

.imagenes {
    display: block;
    border: 6px solid #1A5853;
    margin-left: 25%;
    border-radius: 4px;
    width: 350px;
    height: 200px;
}

.gifts {
    display: block;
    border: 6px solid #1A5853;
    margin-left: auto;
    border-radius: 4px;
    width: 350px;
    height: 200px; 
}

/* Selector de etiqueta*/
ul {
    text-align: center;
}

li {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

